// App icon (this name MUST match the code path that calls from_resource_name("MAINICON", ...))
MAINICON ICON "assets\\icon.ico"

// Optional VERSIONINFO
1 VERSIONINFO
FILEVERSION     1,1,4,0
PRODUCTVERSION  1,1,4,0
FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
FILEFLAGS       0x1L
#else
FILEFLAGS       0x0L
#endif
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"   // US English, Unicode
        BEGIN
            VALUE "CompanyName",      "rt\0"
            VALUE "FileDescription",  "Ursa Minor FFB\0"
            VALUE "FileVersion",      "1.1.4\0"
            VALUE "InternalName",     "UrsaMinorFFB.exe\0"
            VALUE "OriginalFilename", "UrsaMinorFFB.exe\0"
            VALUE "ProductName",      "Ursa Minor FFB\0"
            VALUE "ProductVersion",   "1.1.4\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
